<p id="notice"><%= notice %></p>

<p>
  <b>Height:</b>
  <%= @grid.height %>
</p>

<p>
  <b>Width:</b>
  <%= @grid.width %>
</p>

<p>
  <b>Solution:</b>
  <%= @grid.solution %>
</p>


<%= link_to 'Edit', edit_grid_path(@grid) %> |
<%= link_to 'Back', grids_path %>
