<p id="notice"><%= notice %></p>

<p>
  <b>Difficulty:</b>
  <%= @puzzle.difficulty %>
</p>

<p>
  <b>Grid:</b>
  <%= @puzzle.grid_id %>
</p>

<p>
  <b>Points:</b>
  <%= @puzzle.points %>
</p>


<%= link_to 'Edit', edit_puzzle_path(@puzzle) %> |
<%= link_to 'Back', puzzles_path %>
