.hidden{id: "puzzle_height", value: @puzzle_height}
.hidden{id: "puzzle_width", value: @puzzle_width}
.hidden{id: "puzzle_number", value: @puzzle_number}
.hidden{id: "puzzle_name",value:@puzzle_name}

%div#sidebar
  %div#logo.center
    = image_tag "logo.png" , :alt => "Nonogrammed"
  %nav.navbuttons
    %div.upper
      = form_tag ({controller:'dashboard' , action: 'show'}) do
        = select_tag 'size', options_for_select((5..20).to_a.map{|s| ["#{s}X#{s}", s]}, @puzzle_width) , class: 'inline'
        = submit_tag 'New Puzzle' , class: 'yellowbutton inline'
    %div.timer.center
      %p.bold 00:00
    %div.morebuttons
      =submit_tag "Give Hint" , id: "hint_puzzle", class: "greybutton" 
      =submit_tag "Reset Puzzle" , id: "reset_puzzle" , class: "greybutton" 
    %hr

  
  %h4.center Global Stats 
  %p.center (For this puzzle)
  %div#innerstats
    -if(@puzzle_times_solved > 0)
      %b#times_solved Times Solved: #{@puzzle_times_solved}
      %br
      %b#average_time Average Time: #{@puzzle_average_time} s
      %br
      %b#average_size_time Average 4 Size: #{@puzzle_size_average_time} s
    -else
      %b#times_solved Times Solved: 0
      %br
      %b#average_time Average Time: 0 s
      %br
      %b#average_size_time Average 4 Size: #{@puzzle_size_average_time} s

  %hr#check_solution
  %p.center
    =link_to "Create New Nonograms!", {:action => "new_puzzle" },id: "new_puzzle_link"
  %p.center#show_the_rules
    Show/Hide Rules
  %b.hidden#the_rules
    Nonogrammed is a puzzle website using the popular puzzle nonogram.
    The goal is to use logic to uncover a hidden picture.
    The numbers in the columns / rows represent the number of continous blocks in that row/column.
    You can left/right click + drag to put dots and xs on the grid. Once all the numbers are green the puzzle will be checked for completion For more information check out the 
    =link_to "Wikipedia Page!" , "http://en.wikipedia.org/wiki/Nonogram" , :target => "_blank"

%div#move_left_div
  %table#puzzle_table.one-edge-shadow  
    %tr.puzzle_numbers_row
      %td.corner
      - (0..@puzzle_width-1).each do |n|
        %td
          -@string_for_column[n].split(" ").each do |i|
            .seperate_numbers
            %b=i
            
    - (0...@puzzle_height).each do |h|
      %tr
        %td.puzzle_numbers_column
          -@string_for_row[h].split(" ").each do |i|
            -if i.length==1
              %b=i
            -else
              %b.double_digits=i
        - (0...@puzzle_width).each do |w|
          %td.puzzle_cell{id: "puzzle-cell-#{h+1}-#{w+1}"}
%div#correct_puzzle_name.center






    






