%div.puzzle_description
  %table.puzzle_description_table
    %tr
      %td.left_puzzle_description_column
        Puzzle Number 
      %td.placeholder_column
        = "--->"
      %td.right_puzzle_description_column
        = @puzzle_name
    %tr
      %td.left_puzzle_description_column
        Puzzle Difficulty
      %td.placeholder_column
        = "--->" 
      %td.right_puzzle_description_column
        = @puzzle_difficulty
    %tr
      %td.left_puzzle_description_column
        Puzzle Points
      %td.placeholder_column
        = "--->"
      %td.right_puzzle_description_column
        = @puzzle_points
%div#upper_text        
  %p.center_text.bold_text.small_margin_top Completion checks are done automatically!
  %p.center_text.bold_text.small_margin_top Press Enter to start keyboard navigation. You can navigate using the W, A, S, and D keys.
.hidden{id: "puzzle_height", value: @puzzle_height}
.hidden{id: "puzzle_width", value: @puzzle_width}
%div#puzzle_and_buttons_div        
  %table#puzzle_table
    %tr.puzzle_numbers_row
      - (0..@puzzle_width).each do |n|
        - if n == 0
          %td.corner
        - else
          %td
            = "#"
    - (0...@puzzle_height).each do |h|
      %tr
        %td.puzzle_numbers_column
          = "#"
        - (0...@puzzle_width).each do |w|
          %td.puzzle_cell{id: "puzzle-cell-#{h+1}-#{w+1}"}
  =submit_tag "Reset Puzzle" , id: "reset_puzzle"
  =submit_tag "Give me a hint!" , id: "hint_puzzle"


