.hidden{id: "puzzle_height", value: @puzzle_height}
.hidden{id: "puzzle_width", value: @puzzle_width}
.hidden{id: "puzzle_number", value: @puzzle_number}

%div#sidebar
  %div#logo.center
    = image_tag "logo.png"
  %nav.navbuttons
    %div.upper
      = form_tag ({controller:'dashboard' , action: 'show'}) do
        = submit_tag 'New Puzzle' , class: 'yellowbutton inline'
        = select_tag 'size', options_for_select((5..20).to_a.map{|s| ["#{s}X#{s}", s]}, @puzzle_width) , class: 'inline'
    %div.timer.center
      %p.bold 00:00
    %div.morebuttons
      =submit_tag "Check Solution" , id: "check_solution", class: "greybutton"
      =submit_tag "Give Hint" , id: "hint_puzzle", class: "greybutton" 
      =submit_tag "Reset Puzzle" , id: "reset_puzzle" , class: "greybutton" 
    %div#solved_or_not

%div#puzzle#draggable.ui-widget-content{:style => "width:800px; margin-left:190px;"}
  %div#handle
    =image_tag "Arrow1.png" 
  %table#puzzle_table.one-edge-shadow  
    %tr.puzzle_numbers_row
      %td.corner
      - (0..@puzzle_width-1).each do |n|
        %td
          -@string_for_column[n].split(" ").each do |i|
            .seperate_numbers
            -if i.length==1
              %b=i
            -else
              %b.double_digits=i
    - (0...@puzzle_height).each do |h|
      %tr
        %td.puzzle_numbers_column
          -@string_for_row[h].split(" ").each do |i|
            -if i.length==1
              %b=i
            -else
              %b.double_digits=i
        - (0...@puzzle_width).each do |w|
          %td.puzzle_cell{id: "puzzle-cell-#{h+1}-#{w+1}"}

%div#stats
  %h2 Stats (With no hints!)
  -if(@puzzle_times_solved > 0)
    %p#times_solved Times Solved: #{@puzzle_times_solved}
    %br
    %p#average_time Average Time: #{@puzzle_average_time}
  -else
    %p#times_solved Times Solved: Never been solved!
    %br
    %p#average_time Average Time: Never been solved!


    






